* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #664AFF;
}

.wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  display: none;
}

.checkbox-container .checkmark {
  height: 25px;
  width: 25px;
  border: 2px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.checkmark i {
  color: #fff;
  font-size: 14px;
  transform: scale(0); 
  transition: all 0.2s ease;
}

.checkbox-container .text {
  margin-left: 12px;
  font-size: 18px;
  color: #333;
}

.checkbox-container input:checked ~ .checkmark {
  background: #664AFF;
  border-color: #664AFF;
}

.checkbox-container input:checked ~ .checkmark i {
  transform: scale(1);
}

.checkbox-container:hover .checkmark {
  border-color: #664AFF;
}