* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

section {
  position: relative;
  height: 225px;
  width: 375px;
  perspective: 1000px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: aqua;
}
.card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  
}

.front-face header,
.front-face .card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.front-face .logo img {
  width: 48px;
  margin-right: 10px;
}

.front-face .chip {
  width: 50px;
}

.card-details {
  margin-top: 40px;
}

.signature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 80px;
  height: 40px;
  width: 85%;
  background-color: #fff;
  border-radius: 6px;
}
